<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SimView</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;," />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/controls.css') }}"
    />
    <style>
      body {
        margin: 0;
        background-color: #000;
        color: #fff;
      }
      #info {
        position: absolute;
        top: 10px;
        width: 100%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="container"></div>

    <!-- Add loading splash screen -->
    <div id="loading-splash">
      <h1>Loading...</h1>
    </div>

    <!-- Add Socket.IO client before other scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <!-- Add CCapture.js -->
    <script src="{{ url_for('static', filename='lib/CCapture.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/webm-writer-0.2.0.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/gif.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tar.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/download.js') }}"></script>
    <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@v0.174.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.174.0/examples/jsm/",
          "chroma": "https://cdn.jsdelivr.net/npm/chroma-js@3.1.2/index.min.js"
        }
      }
    </script>

    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
  </body>
</html>
